body {
	background-color: rgb(17,38,50);
}
.testimonial .author-photo img {
	-webkit-border-radius: 0px; 
	border-radius: 0px;
}

.mainmenu-wrapper {
	background-color: #3F2419;
	border-bottom-color: #DBC08B;
}

.mainmenu > ul > li.active > a, .mainmenu .mainmenu-submenu-inner > li.active > a {
	color: #EEF2F1;
}

.mainmenu > ul > li > a:hover, .mainmenu .mainmenu-submenu-inner > li > a:hover {
	color: #AF9A7D;
}

.mainmenu > ul > li > a:hover, .mainmenu .mainmenu-submenu-inner > li > a:hover {
	color: #AF9A7D;
	text-decoration: none;
}

body {
	background: url(../img/page-background-1.png);
}

.footer {
	background: #3F2419;

	color: #EEF2F1;
	border-top: 4px solid #DBC08B;
	-webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
	box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
	color: 0 -1px 12px rgba(0,0,0,0.4);
}

.footer-copyright {
	color: #8D9999;
}

#sequence .title {
	font-size: 40px;
	font-style: bold;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#sequence .subtitle {
	font-size: 30px;
}